<h1>Crear Nuevo Input</h1>

<form action="/inputs" method="post">
  <label for="name">Nombre:</label>
  <input type="text" name="name" id="name" required>

  <label for="input_type">Tipo:</label>
  <input type="text" name="input_type" id="input_type" required>

  <label for="value">Valor:</label>
  <input type="text" name="value" id="value" required>

  <button type="submit">Guardar</button>
</form>

<a href="/inputs">Volver al listado</a>

